// Here you can add other styles
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.variant_image {
    position: relative;
    overflow: hidden;
}
.variant_image img {
    position: absolute;
    left: 0;
    top: 0;
}